{% extends 'redaction/layout.html.twig' %}

{% block page_title %}Dessins{% endblock %}
{% block topbar_page_title %}Dessins{% endblock %}

{% block dessinMenu %}class="active"{% endblock %}

{% block page_content %}
    <div class="container">
        <h3>Dessins</h3>
        <table class="fwidth">
            <thead>
            <tr>
                <th class="text-center hphone-portrait">id</th>
                <th>Nom</th>
                <th>Artiste</th>
                <th class="text-center">Publique</th>
                <th class="text-center"><a class="button button-small" href="/redaction/dessins/nouveau"><i class="fal fa-plus-circle"></i></a></th>
            </tr>
            </thead>
            <tbody>
            {% for dessin in dessins %}
                <tr>
                    <td class="text-center hphone-portrait">{{ dessin.id }}</td>
                    <td>{{ dessin.nom }}</td>
                    <td>{{ dessin.artiste }}</td>
                    <td class="text-center">{% if dessin.publique %}<i class="fal fa-check"></i>{% endif %}</td>
                    <td class="text-center"><a class="button button-white button-small" href="/redaction/dessins/{{ dessin.id }}"><i class="fal fa-edit"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
<script src="/static/js/spinner.fulgur.min.js"></script>
{% endblock %}