
{% extends 'redaction/layout.html.twig' %}

{% block page_title %}Dessin : {{ dessin.nom }}{% endblock %}
{% block topbar_page_title %}Dessin : {{ dessin.nom }}{% endblock %}

{% block dessinMenu %}class="active"{% endblock %}

{% block page_content %}
<div class="container">
    <div>
        <a class="button" href="/redaction/dessins"><i style="margin-right: 3px; position: relative; top: 1px" class="far fa-chevron-circle-left"></i> Dessins</a>
    </div>
    <h3 class="text-center">Dessin : {{ dessin.nom }}</h3>
    {% if error %}
    <div class="alert alert-danger">
        <p>Une erreur est survenue lors de l'ajout de la réalisation... Veuillez réessayer.</p>
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        <div class="container-fluid row">
            <div class="col-sm-6">
                <label for="dessin-nom">Nom</label>
                <input class="fwidth" type="text" id="dessin-nom" name="nom" value="{{ dessin.nom }}">
            </div>
            <div class="col-sm-6">
                <label for="dessin-artiste">Artiste</label>
                <input class="fwidth" type="text" id="dessin-artiste" name="artiste" value="{{ dessin.artiste }}">
            </div>
            <div class="col-sm-6">
                <label for="dessin-description">Description</label>
                <textarea class="fwidth" id="dessin-description" name="description">{{ dessin.description }}</textarea>
            </div>
            <div class="col-sm-6">
                <label for="dessin-file">Fichier</label>
                {% if dessin.file_available %}
                    <p class="text-center" id="file-viewer">
                        <img src="/redaction/dessins/{{ dessin.id }}/image" style="max-width: 100%; max-height: 350px;">
                        <br>
                        <a class="button" href="#">Modifier</a>
                    </p>
                {% endif %}

                <div {% if dessin.file_available %}style="display: none"{% endif %} id="file-input">
                    <input type="file" class="fwidth" id="dessin-file" name="file">
                    {% if dessin.file_available %}
                        <a class="button" href="#">Annuler</a>
                    {% endif %}
                </div>

            </div>
            <div class="col-sm-6">
                <label for="dessin-publique">Publique <input type="checkbox" id="dessin-publique" name="publique" value="1" {% if dessin.publique %}checked{% endif %}></label>
            </div>
        </div>

        <div class="text-center">
            <a class="button" href="/redaction/dessins">Annuler</a>
            <input type="submit" class="button" value="Envoyer">
        </div>
    </form>
</div>
{% endblock %}
{% block js %}
    {% if realisation.file_available %}
        <script>
            $('#file-viewer a.button').on('click', function(e) {
                e.preventDefault();
                $('#file-viewer').hide();
                $('#file-input').show();
            });
            $('#file-input a.button').on('click', function(e) {
                e.preventDefault();
                $('#file-input').hide();
                $('#file-viewer').show();
            });
        </script>
    {% endif %}

{% endblock %}
