body {
    background: #ecf0f1;
    padding: 0;
    margin: auto;
}
table {
    border-collapse: collapse;
}
#navbar {
    background-color: #34495e;
    height: 100vh;
    position: fixed;
    width: 250px;
}
#navbar ul {
    list-style: none;
    margin-bottom: 0;
    width: 100%;
}
#navbar ul li {
    display: block;
    margin-bottom: 0;
    width: 100%;
}
#navbar ul li a {
    color: #f1c40f;
    display: block;
    font-weight: 700;
    margin-bottom: 0;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 200ms ease;
    width: 100%;
}
#navbar ul li a:hover {
    background-color: #2c3e50;
}
#navbar ul li a.active {
    /*border-left: 5px #f1c40f;*/
    box-shadow: inset 5px 0 0 0 #f1c40f;
    background-color: #1a2a3b;
}

.layout > .topbar {
    background-color: #34495e;
    height: 52px;
    margin-left: 250px;
    padding: 15px 25px;
    position: fixed;
    vertical-align: top;
    width: calc(100% - 250px);
}
.layout > .content {
    margin-left: 250px;
    margin-top: 54px;
    vertical-align: top;
    padding: 20px;
    width: calc(100% - 250px);
}
.topbar > .title {
    color: #f1c40f;
    font-weight: 700;
    text-transform: uppercase;
}
.topbar > .buttons {
    float: right;
}
.topbar > .buttons > .button {
    color: #f1c40f;
    border-color: #f1c40f;
    position: relative;
    top: -3px;
}
.content > .container {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    max-width: 1350px;
    overflow-x: auto;
}
li#back-to-fti a {
    height: 52px;
    background-color: #485d72;
}

/* UTILISATEURS */
#user-list > table, #user-form input {
    width: 100%;
}
/* COMMANDES */
#commande-list > table {
    width: 100%;
}
#commande-list > table td > a {
    margin-bottom: 0;
}
/* TELECHARGEMENT */
#download-list > table {
    width: 100%;
}
/* PHONES */
@media (max-width: 768px) {
    .layout > .topbar {
        padding: 15px 10px;
    }
    .topbar > .title {
        font-size: 95%;
    }
    #navbar {
        width: 80px;
    }
    #navbar ul li a {
        padding: 10px 5px;
        text-align: center;
    }
    #navbar ul li a svg {
        font-size: 30px;
    }
    .layout > .topbar {
        margin-left: 80px;
        width: calc(100% - 80px);
    }
    .layout > .content {
        margin-left: 80px;
        width: calc(100% - 80px);
    }
}

.fwidth {
    width: 100%;
}
dt {
    font-weight: bold;
}

tr.archive {
    background-color: #ecf0f1;
}

input[type="checkbox"] {
    height: initial;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}
