{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="box center">
            <div class="alert alert-warning">
                <h3 class="text-center">
                    <i class="fal fa-exclamation-triangle"></i>
                    Oups... Vous n'êtes pas connecté !
                </h3>
                <p class="text-center">
                    <a href="/atelier/connexion" class="button button-red button-outline">Se connecter</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/fontawesome.min.js"></script>
    <script src="/static/js/all.min.js"></script>
{% endblock %}

