
{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="box center">
            <div class="alert alert-warning">
                <h4 class="text-center">
                    <i class="fal fa-question-circle"></i>
                    Oups... Il semblerait que vous vous soyez perdu :<br> cette page n'existe pas !
                </h4>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/fontawesome.min.js"></script>
    <script src="/static/js/all.min.js"></script>
{% endblock %}

