{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="box center">
            <div class="alert alert-warning">
                <h3 class="text-center">
                    <i class="fal fa-exclamation-triangle"></i>
                    Erreur {{ code }}
                </h3>
                {% if message %}
                    <p class="text-center" style="margin-bottom: 20px">{{ message }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/fontawesome.min.js"></script>
    <script src="/static/js/all.min.js"></script>
{% endblock %}

