{% extends 'redaction/layout.html.twig' %}

{% block page_title %}Editions{% endblock %}
{% block topbar_page_title %}Editions{% endblock %}

{% block editionMenu %}class="active"{% endblock %}

{% block page_content %}
    <div class="container">
        <h3>Listes des différentes éditions</h3>
        <table class="fwidth">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Titre</th>
                    <th class="text-center">Publique</th>
                    <th class="text-center"><a class="button button-small" href="/redaction/editions/nouvelle"><i class="far fa-plus-circle"></i></a></th>
                </tr>
            </thead>
            <tbody>
                {% for edition in editions %}
                <tr>
                    <td>{{ edition.annee }}-{{ "%02d"|format(edition.mois) }}-{{ "%04d"|format(edition.id) }}</td>
                    <td>{{ edition.titre }}</td>
                    <td class="text-center">{% if edition.publique %}<i class="fal fa-check"></i>{% endif %}</td>
                    <td class="text-center"><a class="button button-small" href="/redaction/editions/{{ edition.id }}"><i class="far fa-edit"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}