{% extends 'layout.html.twig' %}

{% block page_title %}Le F'TI | Archives{% endblock %}

{% block content %}
    <div class="container">
        <h3>Nos archives</h3>

        <div class="archives-container">
            {% for key, editions_annee in editions %}
                <h3>{{ key }}</h3>
                <div class="row container-fluid">
                {% for edition in editions_annee %}
                    <div class="edition col-sm-4">
                        <a href="/lire/{{ edition.annee }}-{{ edition.mois }}/{{ edition.id }}" target="_blank">
                            <img src="/couverture/{{ edition.annee }}-{{ edition.mois }}/{{ edition.id }}">
                            <h4 class="text-center" style="font-size: 1.5em">{{ edition.titre }}</h4>
                            {# <h5 class="text-center text-muted">{{ edition.annee }}/{{ "%02d"|format(edition.mois) }}</h5> #}
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}