<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <meta charset="utf-8">
    <title>{% block page_tile %}{% endblock %}</title>

    <!-- Mobile Specific Metas
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Teko:600" rel="stylesheet">

    <!-- CSS
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/grid.css">
    <link rel="stylesheet" href="/static/css/aquila.min.css">
    <link rel="stylesheet" href="/static/css/fti.css">
    {% block css %}{% endblock %}

    <!-- Favicon
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <!--<link rel="icon" type="image/png" href="images/favicon.png">-->

</head>
<body>
<!-- Page Header
––––––––––––––––––––––––––––––––––––––––––––––––––-->
<div class="index-header">
    <div class="container">
        <h1 class="logo hphone-portrait"><a href="/">Le F'TI</a></h1>

        <span class="navpipe">|</span>
        <nav>
            <a href="/dessins">Dessins</a>
            <a href="/archives">Archives</a>
            <a href="/redaction">Redaction</a>
        </nav>

        <div class="buttons htablet">
            <a class="button social" title="Retrouvez nous sur Facebook !" href="https://www.facebook.com/fti.centralelille" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>

    </div>
</div>

<!-- Showcase
––––––––––––––––––––––––––––––––––––––––––––––––––-->
<div class="index-showcase">
    <img src="/static/couverture.png" style="max-height: 100%">
</div>

<!-- Content
––––––––––––––––––––––––––––––––––––––––––––––––––-->
<div class="index-resume">
    {% block content %}{% endblock %}
</div>

<!-- End Document
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
<script src="/static/js/fontawesome.min.js"></script>
<script src="/static/js/all.min.js"></script>
<script src="/static/js/fulgur.min.js"></script>
<script>
    $ = Fulgur;
</script>
{% block js %}{% endblock %}
</body>
</html>
