<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="utf-8">
        <title>Partothèque</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/b{{ assets_build }}/normalize/normalize.css">
        <link rel="stylesheet" href="/assets/b{{ assets_build }}/aquila/aquila.css">
        <link rel="stylesheet" href="/assets/b{{ assets_build }}/fontawesome/fontawesome.css">
        <link rel="stylesheet" href="/assets/b{{ assets_build }}/partotheque/general.css">

        <script src="/assets/b{{ assets_build }}/fontawesome/fontawesome.js"></script>
        <script src="/assets/b{{ assets_build }}/fontawesome/light.js"></script>

        <style>
            .container {
                max-width: 1250px;
                margin: auto;
            }
            .container > div {
                background-color: white;
                border-radius: 5px;
                padding: 20px;
                margin-bottom: 15px;
            }
        </style>
    </head>
<body>
    <div class="container">
        <div>
            <h1 class="text-center text-uppercase">Erreur serveur</h1>
        </div>
        <div>
            <h2>Détails</h2>
            <p>
                <b>Fichier</b> : {{ file }}<br>
                <b>Ligne</b> : {{ line }}<br>
                <b>Code</b> : {{ code }}<br>
                <b>Message</b> : {{ message }}<br>
            </p>
        </div>
        <div>
            <h2>Trace</h2>
            <p>
                {{ trace|nl2br }}
            </p>
        </div>
    </div>
    <script src="/assets/b{{ assets_build }}/fulgur/fulgur.js"></script>
</body>
</html>