<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <meta charset="utf-8">
    <title>Entrée des artistes</title>

    <!-- Mobile Specific Metas
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Teko:600" rel="stylesheet">

    <!-- CSS
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <link rel="stylesheet" href="static/css/aquila.min.css">
    <link rel="stylesheet" href="static/css/fti.css">

    <!-- Favicon
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <!--<link rel="icon" type="image/png" href="images/favicon.png">-->

</head>
<body>

<!-- Connexion
––––––––––––––––––––––––––––––––––––––––––––––––––-->
<div class="login">
    <form class="white-bloc" method="post">
        <h1 class="text-center">Le F'TI | <span class="text-muted">Entrée des artistes</span></h1>
        {% if alert %}
            <div class="alert alert-danger">
                {{ alert }}
            </div>
        {% endif %}
        <label for="username">Adresse mail</label>
        <input type="email" class="fwidth" name="email" id="email" value="{{ email }}">
        <label for="password">Mot de passe</label>
        <input type="password" class="fwidth" name="password" id="password">
        <p class="text-center">
            <a class="button" href="/">Retour</a>
            <input type="submit" class="button" value="Se connecter">
        </p>
    </form>
</div>

<!-- End Document
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
</body>
</html>
