{% extends 'redaction/layout.html.twig' %}

{% block page_title %}Tableau de bord{% endblock %}
{% block topbar_page_title %}Tableau de bord{% endblock %}

{% block dashboardMenu %}class="active"{% endblock %}

{% block page_content %}
    <div class="container">
        <h3>Bonjour {{ connected_user.prenom }} !</h3>
        <p>Bienvenue à la rédaction, là où se prépare chaque mois le journal attendu impatiemment par tous les centraliens.</p>
    </div>
{% endblock %}