{% extends 'redaction/layout.html.twig' %}

{% block page_title %}Utilisateurs{% endblock %}
{% block topbar_page_title %}Utilisateurs{% endblock %}

{% block utilisateursMenu %}class="active"{% endblock %}

{% block page_content %}
    <div class="container">
        <div id="user-error" class="alert alert-danger" style="display: none;"></div>
        <div id="user-list">
            <table>
                <thead>
                <tr>
                    <th class="text-center hphone-portrait">id</th>
                    <th class="hlaptop">Email</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th class="htablet text-center">Promo</th>
                    <th class="text-center htablet">Admin</th>
                    <th class="text-center"><a class="button button-small" id="user-plus" href="#"><i class="fal fa-plus-circle"></i></a></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="text-center hphone-portrait">{{ user.id }}</td>
                        <td class="hlaptop">{{ user.email }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.nom }}</td>
                        <td class="htablet text-center">{{ user.promo }}</td>
                        <td class="text-center htablet">{% if user.admin %}<i class="fal fa-check"></i>{% endif %}</td>
                        <td class="text-center"><a class="button button-white button-small user-edit" href="{{ user.id }}"><i class="fal fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <form id="user-form" style="display: none">
            <input type="hidden" id="mode" value="insert">
            <input type="hidden" id="user-id" name="id">
            <div class="container-fluid row">
                <div class="col-sm-6">
                    <label for="user-nom">Nom</label>
                    <input type="text" id="user-nom" name="nom">

                </div>
                <div class="col-sm-6">
                    <label for="user-prenom">Prénom</label>
                    <input type="text" id="user-prenom" name="prenom">
                </div>
                <div class="col-sm-6">
                    <label for="user-fonction">Fonction</label>
                    <input type="text" id="user-fonction" name="fonction">
                </div>
                <div class="col-sm-6">
                    <label for="user-email">Email</label>
                    <input type="email" id="user-email" name="email">
                </div>
                <div class="col-sm-6">
                    <label for="user-password">Mot de passe</label>
                    <input type="text" id="user-password" name="password" class="no-margin-bottom">
                </div>
                <div class="col-sm-6">
                    <label for="user-promo">Promo</label>
                    <input type="text" id="user-promo" name="promo">
                </div>
                <div class="col-sm-6">
                    <label for="user-admin">Admin</label>
                    <input type="text" id="user-admin" name="admin">
                </div>
            </div>
            <div class="text-center">
                <a class="button" id="user-cancel">Annuler</a>
                <a class="button button-red button-outline" id="user-delete">Supprimer</a>
                <a class="button" id="user-send">Modifier</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
<script src="/static/js/spinner.fulgur.min.js"></script>
<script src="/static/js/utilisateurs.js"></script>
{% endblock %}